.navButton {
  background: none;
  border: 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 28px;
  font-family: "roboto-mono", monospace;
  font-weight: 300;
  font-style: normal;
  padding: 5px;
  cursor: pointer;

  &:hover {
    // transform: scale(0.98);
    transform: translateY(2.4px);

    transition: ease-in-out 0.2s;
    // border-bottom: 0.3px solid black;
  }

  @media only screen and (max-width: 600px) {
    .navButton {
      font-size: 0.6rem;
    }
  }
}
