* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navButton {
  &:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
}

@font-face {
  font-family: "Victorianna";
  src: local("Victorianna"),
    url("/Users/saskiabinder/repos/portfolio-site/src/fonts/VictoriannaThint_Web/vtf_victorianna_thin-webfont.ttf")
      format("truetype");
}

.font-face-gm {
  font-family: "Victorianna";
}
